<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483717924051-dv5ik4mbafd8uk589hptiu4e6nmukhk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483717924051-dv5ik4mbafd8uk589hptiu4e6nmukhk1</string>
	<key>API_KEY</key>
	<string>AIzaSyCLTL_C36m_92SP_0WGOTTyLhwSK-SFVKg</string>
	<key>GCM_SENDER_ID</key>
	<string>483717924051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.SIGMA</string>
	<key>PROJECT_ID</key>
	<string>sigmapp-4d682</string>
	<key>STORAGE_BUCKET</key>
	<string>sigmapp-4d682.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483717924051:ios:a8028a8572d71931e8c026</string>
</dict>
</plist>